.tweetfrom {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #751c4d;
}

.tweetmessage {
    margin-bottom: 15px;
    border: 5px solid #339240;
    height: 100px;
    width: 200px;


}